<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273050868173-2oh2vedd0dob3sk8akmn4ieugj8lq3qs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273050868173-2oh2vedd0dob3sk8akmn4ieugj8lq3qs</string>
	<key>API_KEY</key>
	<string>AIzaSyD1hIW_nCqZmdadlzs2fzIZpeyP1itIGUY</string>
	<key>GCM_SENDER_ID</key>
	<string>273050868173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatGptBot</string>
	<key>PROJECT_ID</key>
	<string>ai-bot-16831</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-bot-16831.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273050868173:ios:ebb6d35ac0365d74574c84</string>
</dict>
</plist>